* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scrollbar-color: #0080C8 black;
}

.body {
  color: #E7E7E7;
  font-family: "Montserrat", sans-serif;
}
.body-background {
  position: absolute;
}

.header {
  position: relative;
  width: 100vw;
  height: 120px;
  display: flex;
  justify-content: center;
  border: 1px solid white;
}
.header-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
  border: 1px solid red;
}
.header-container-menu {
  border: 2px 0 solid white;
  width: 40px;
  height: 23px;
  cursor: pointer;
}
.header-container-menu::after, .header-container-menu::before {
  content: " ";
  display: block;
  width: 40px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
}
.header-container-cadastro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 350px;
  list-style: none;
}
.header-container-cadastro-button {
  border: 1px solid white;
  padding: 10px 32px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
}
.header-container-cadastro-button:nth-child(1) {
  background-color: #0080C8;
  border: 0;
  transition: 0.5s;
}
.header-container-cadastro-button:nth-child(1):hover {
  background-color: #005a8c;
}
.header-container-cadastro-button:nth-child(2) {
  transition: 0.5s;
}
.header-container-cadastro-button:nth-child(2):hover {
  background-color: #0080C8;
  color: #E7E7E7;
  border: 1px solid #0080C8;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 800px;
  display: flex;
  justify-content: center;
}
.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;
}
.main-container-content h1 {
  font-size: 120px;
}
.main-container-content h1:nth-child(2) {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  /* largura da borda */
  -webkit-text-stroke-color: white;
  /* cor da borda */
}
.main-container-content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}
.main-container-content ul li {
  border: 1px solid white;
  padding: 10px 32px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
}
.main-container-content ul li:nth-child(1) {
  background-color: #0080C8;
  border: 0;
  transition: 0.5s;
}
.main-container-content ul li:nth-child(1):hover {
  background-color: #005a8c;
}
.main-container-content ul li:nth-child(2) {
  transition: 0.5s;
}
.main-container-content ul li:nth-child(2):hover {
  background-color: #0080C8;
  color: #E7E7E7;
  border: 1px solid #0080C8;
}

.footer {
  display: flex;
  justify-content: center;
  height: 150px;
  position: relative;
}
.footer-container {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 100%;
}
.footer-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer-container ul li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}
.footer-container ul li:hover {
  color: #FFFFFF;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .body {
    height: 100vh;
    background-image: url(../img/wallpaper.svg);
    background-position: 50%;
  }
  .body-background {
    display: none;
  }
  .header-container {
    width: 90vw;
  }
  .header-container-cadastro {
    display: none;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-container {
    height: 40%;
    width: 90vw;
  }
  .main-container h1 {
    font-size: 70px;
  }
  .main-container ul {
    flex-direction: column;
    height: 100px;
    width: 90%;
  }
  .main-container ul li {
    width: 100%;
    text-align: center;
  }
  .footer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */