// @import 'scss/layout/variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    color: white;

    font-family: 'Montserrat', sans-serif;
}

img{
    position: absolute;
}

.header{
    position: relative;
    width: 100vw;
    height: 100px;

    display: flex;
    justify-content: center;

    border: 1px solid white;

    &-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 70vw;


        border: 1px solid red;


        &-cadastro{
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 100%;
            width: 350px;

            list-style: none;

            border: 1px solid white;

            li{
                border: 1px solid white;
                padding: 8px 32px;

                font-weight: 600;
                border-radius: 3px;

                cursor: pointer;

                &:nth-child(1){
                    background-color: #0080C8;
                    border: 0;
                }
            }
        }
    }
}

.main{
    position: relative;
    width: 100vw;
    height: 800px;

    display: flex;
    justify-content: center;

    border: 1px solid white;

    &-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 70vw;


        border: 1px solid red;

        h1{
            font-size: 128px;
        }

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;

            // height: 100%;
            width: 500px;

            list-style: none;

            // border: 1px solid white;

            li{
                border: 1px solid white;
                padding: 8px 32px;

                font-weight: 600;
                border-radius: 3px;

                cursor: pointer;

                &:nth-child(1){
                    background-color: #0080C8;
                    border: 0;
                }
            }
        }

    }
}
