* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scrollbar-color: #0080C8 black;
}

.body {
  color: #E7E7E7;
  font-family: "Montserrat", sans-serif;
  background: url(/arcane/img/wallpaper.svg) no-repeat fixed center;
}
.body-background {
  position: absolute;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  height: 100px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  width: 70%;
}
.header-container img {
  cursor: pointer;
  width: 30px;
}
.header-container-buttons {
  display: flex;
  gap: 3rem;
}
.header-container-buttons li {
  border: 1px solid white;
  border-radius: 3px;
  padding: 6px 32px;
  transition: 0.5s;
}
.header-container-buttons li:nth-child(1) {
  background-color: #0080C8;
  border: none;
}
.header-container-buttons li:nth-child(1):hover {
  background-color: #005a8c;
}
.header-container-buttons li:nth-child(2):hover {
  background-color: #0080C8;
  border: 1px solid #0080C8;
}
.header-container-buttons li a {
  text-decoration: none;
  color: white;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: 800px;
  display: flex;
  justify-content: center;
}
.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  width: 100%;
}
.main-container-content h1 {
  font-size: 120px;
}
.main-container-content h1:nth-child(2) {
  color: transparent;
  -webkit-text-stroke-width: 1.5px;
  /* largura da borda */
  -webkit-text-stroke-color: white;
  /* cor da borda */
}
.main-container-content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}
.main-container-content ul li {
  border: 1px solid white;
  padding: 10px 32px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
}
.main-container-content ul li:nth-child(1) {
  background-color: #0080C8;
  border: 0;
  transition: 0.5s;
}
.main-container-content ul li:nth-child(1):hover {
  background-color: #005a8c;
}
.main-container-content ul li:nth-child(2) {
  transition: 0.5s;
}
.main-container-content ul li:nth-child(2):hover {
  background-color: #0080C8;
  color: #E7E7E7;
  border: 1px solid #0080C8;
}

.footer {
  display: flex;
  justify-content: center;
  height: 150px;
  position: relative;
}
.footer-container {
  display: flex;
  justify-content: center;
  width: 70%;
  height: 100%;
}
.footer-container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer-container ul li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
}
.footer-container ul li:hover {
  color: #FFFFFF;
  font-weight: 600;
}

@media screen and (max-width: 700px) {
  .body {
    height: 100vh;
    background-image: url(../img/wallpaper.svg);
    background-position: 50%;
  }
  .body-background {
    display: none;
  }
  .header-container {
    width: 90vw;
  }
  .header-container-cadastro {
    display: none;
  }
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-container {
    height: 40%;
    width: 90vw;
  }
  .main-container h1 {
    font-size: 70px;
  }
  .main-container ul {
    flex-direction: column;
    height: 100px;
    width: 90%;
  }
  .main-container ul li {
    width: 100%;
    text-align: center;
  }
  .footer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */