// @import 'scss/layout/variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
    color: white;

    font-family: 'Montserrat', sans-serif;
}

img{
    position: absolute;
}

.header{
    position: relative;
    width: 100vw;
    height: 120px;

    display: flex;
    justify-content: center;

    // border: 1px solid white;

    &-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 70vw;


        // border: 1px solid red;


        &-cadastro{
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 100%;
            width: 350px;

            list-style: none;

            // border: 1px solid white;

            li{
                border: 1px solid white;
                padding: 10px 32px;

                font-weight: 500;
                border-radius: 3px;

                cursor: pointer;

                &:nth-child(1){
                    background-color: #0080C8;
                    border: 0;
                }
            }
        }
    }
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100vw;
    height: 800px;

    display: flex;
    justify-content: center;

    // border: 1px solid white;

    &-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        height: 50%;
        width: 30vw;


        // border: 1px solid red;

        h1{
            font-size: 120px;
            

            &:nth-child(2){
                color: transparent;
                -webkit-text-stroke-width: 1.5px; /* largura da borda */
                -webkit-text-stroke-color: white; /* cor da borda */
            }
        }

        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;

            // height: 100%;
            width: 90%;

            list-style: none;

            // border: 1px solid white;

            li{
                border: 1px solid white;
                padding: 10px 32px;

                font-weight: 500;
                border-radius: 3px;

                
                cursor: pointer;

                &:nth-child(1){
                    background-color: #0080C8;
                    border: 0;
                }
            }
        }

    }
}

.footer{
    display: flex;
    // align-items: center;
    justify-content: center;

    height: 150px;

    position: relative;

    // border: 1px solid white;

    &-container{
        display: flex;
        // align-items: center;
        justify-content: center;

        width: 70%;
        height: 100%;

        // border: 1px solid red;

        ul{
            display: flex;
            align-items: center;
            justify-content: space-between;

            width: 100%;
            // border: 1px solid blue;

            li{
                list-style: none;

                font-size: 20px;
                font-weight: 500;

                cursor: pointer;
            
    
                // border: 1px solid white;
            }
        }
    }

}