@use 'sass:color';

// brand color escuro
$color-scale: color.scale(#0080C8, $lightness: -30%);

// COLOR SYSTEM
$azul: #2962FF;
$verde: #0BB07B;
$amarelo: #FFCE52;
$vermelho: #F03D3D;
$cinza: #E0E0E0;

// DARK SCALE
$cinza-10: #E7E7E7;
$cinza-20: #FFFFFF;

// BRAND COLOURS
$brand-color: #0080C8;


